html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    background: rgba(6, 14, 29, 0.856);
    word-spacing: 4px;
    line-height: 2;
    font-family: "Outfit", serif;
    
}
.header {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    background: rgba(10, 20, 40, 0.904);
    backdrop-filter: blur(8px);
    width: 65%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    transition: all 250ms ease-in-out;
}
.menu:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.562) 0 2px 10px;
}
.menu .anasayfa {
    background-color: #db9200;
    color: rgba(6, 14, 29, 0.856);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 200ms;
}
.menu .anasayfa:hover {
    background-color: #04021f;
    color: #C8AA6E;
    border-radius: 10px;

}

.menu .anasayfa i {
    background-color: #db9200;
    color: rgba(6, 14, 29, 0.856);
    transition: all 200ms;
}
.menu .anasayfa:hover i {
    background-color: #04021f;
    color: #C8AA6E;
}
.menu a{
    display: inline-block;
    text-decoration:none;
    background-color: #db920000;
    color: #C8AA6E;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 350;
    line-height: 40px;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    transition: all 200ms;
}
.menu a:hover {
    background-color: #db9200;
    color: rgba(6, 14, 29, 0.856);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}    


.menu ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center; 
    list-style-type: none;
    padding-right: 20px;
}
.menu a:hover i {
    background-color: #db9200;
    color: rgba(6, 14, 29, 0.856);
}

.banner {
    display: flex;
    height: 800px;
    width: 100%;
    align-items: center;     
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(
        100deg,
        rgba(10, 20, 40, 0.308) 0%,
        rgba(15, 30, 60, 0.308) 25%,
        rgba(20, 40, 80, 0.308) 50%,
        rgba(15, 30, 60, 0.308) 75%,
        rgba(10, 20, 40, 0.308) 100%
    );
    border: #15398015 solid 1px;
    box-shadow: #0f2e6b1c 0 0 3px ;
}
.banner h1 {
    font-size: 80px;
    color: #C8AA6E;
    line-height: 0;
    margin-bottom: 60px;
}
.banner p {
    color: rgba(255, 255, 255, 0.738);
    letter-spacing: 1px;
    line-height: 0.1;
    font-size: 23px;
}
.aside {
    display: flex;
    margin-left: auto;
    width: 450px;
    height: 900px;
    border: #c8aa6e1f double 1px;
    margin-top: 50px;
    margin-right: 300px;
    border-radius: 18px;
    background: rgba(10, 20, 40, 0.308);


}
.container {
    display: flex;
    
}
.content {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #C8AA6E;
    gap: 40px;
    margin-left: 300px;
}   
.kart {
    background: linear-gradient(
        90deg,
        rgba(10, 20, 40, 0.308) 0%,
        rgba(15, 30, 60, 0.308) 25%,
        rgba(20, 40, 80, 0.308) 50%,
        rgba(15, 30, 60, 0.308) 75%,
        rgba(10, 20, 40, 0.308) 100%
    );
    max-width: 380px;
    height: 690px;
    margin-top: 90px;
    padding: 10px;
    border: #c8aa6e1f solid 1px;
    border-radius: 23px;
    transition: transform 400ms ease-in-out;
}
.kart:hover {
    transform: scale(1.02) translateY(-10px);
    border: #C8AA6E solid 1.8px;
}
.kart hr {
    color: #C8AA6E;
    width: 15%;
    border: 3px solid #C8AA6E;
    border-radius: 10px;
    transition: width 400ms;
}
.kart:hover hr {
    width: 90%;
}
.kart h2 {
    margin-left: 35px;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    font-size: 29px;
}
.kart p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16.1px;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.738);
}